# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Dan Herman
email = dherman@globaldebtregistry.com
[push]
  default = simple
[alias] 
  # macbook setup, update/comment out for linux setup
  gui = !sh -c '/usr/local/Cellar/git/2.7.4/libexec/git-core/git-gui'

